body {
    font-family: 'Overpass', sans-serif;
}
#title {
    background-color:  hsl(13, 100%, 72%);
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%)), url('../images/bg-pattern-intro-desktop.svg');
    padding-top: 50px;
    border-radius: 0 0 0 50px;;
}
#title, h4 {
    text-align: center;
}
.btn-white {
    margin-left: 25px;
    background-color: white;
    color: hsl(353, 100%, 62%);
}
.btn {
    border-radius: 60px;
}
#title, #product2 {
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
}
#product2 {
    background-image: url('../images/bg-pattern-circles.svg');
    padding-bottom: 10rem;
    height: 25rem;
    /* width: 84rem; */
    background-color: hsl(208, 49%, 24%);
    border-radius: 0 75px 0 60px;
}
#product1 {
    padding-left: 100px;
    margin-top: 200px;
}

.product2-text, .product3-text {
    margin-top: 10rem;
    width: 20rem;
    /* overflow-wrap: break-word; */
    /* margin-right: 23.5rem; */
}
.product3-text-p {
    word-break: break-all;
}
.flex-image1 {
    margin-left: 150px;
}
.product1-flex-container, .product2-flex-container, .product3-flex-container {
    display: flex;
}
a {
    text-decoration: none;
}

.navbar {
    padding-left: 200px;
}

.flex-images {
    height: 35rem;
    width: 30rem;
    position: relative;
    bottom: 50px;
}
.title-image {
    height: 20rem;
    width: 20rem;
    position: relative;
}
.header-text {
    position: absolute;
    bottom: 15rem;
    left: 22rem;
}
a, #title, .nav-link, .btn-outline-dark, .footing  {
    color: hsl(0, 0%, 100%);
}
.footing {
    column-count: 3;
    padding-bottom: 50px;
    background-color: hsl(240, 10%, 16%);
    border-radius: 0 100px 0 0;
}
.footing-div {
    margin-left: 150px;
    margin-top: 50px;
}

.ul {
    height: 20rem;
    list-style: none;
}
